
.idea/
.vscode/

*.pyc

build/

commonroad_route_planner.egg-info/

dist/

solutions/logs

solutions/figs/new_ccosy_projection_domain/

solutions/figs/new_improved_ccosy_projection_domain/

outputs/logs/

tutorial/.ipynb_checkpoints/

/tutorial/img/
/img/

/tutorial/commonroad_challenge_2023/

/site/
